[submodule "external/utils"]
	path = external/utils
	url = https://tea.karyonara.com/JayaWikrama/utils.git
[submodule "internal/tscdata"]
	path = internal/tscdata
	url = https://tea.karyonara.com/Aino/FletTerminalValidatorTscData.git
[submodule "dependency"]
	path = dependency
	url = https://tea.karyonara.com/Aino/FletTerminalValidatorDependencies.git
